body{
  font-family: monospace;
  font-size: 17px;
}

.out {
    width: 150px;
    height: 150px;
    margin: 0 15px;
    border: solid 1px #000;
    float: left;
    position: relative
  }

.circle {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  margin: 0 15px;
  border: solid 1px red;
  float: left;
  position: relative;
  color: red;
}

  p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
  }
